<form method="POST" action="/courses/handle-form-actions" name="container-form" class="mt-4">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
      </div>

      <select class="form-select m-3 check-box-select-all-options" name="action">
        <option value="" selected>--Chọn hành động--</option>
        <option value="delete">Xóa</option>
      </select>

      <button type="submit" class="btn btn-primary btn-sm check-all-submit-btn disabled">
        Thực hiện
      </button>
    </div>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">
          ID
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">
          Tên khóa học
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">
          Trình độ
          {{{sortable 'level' _sort}}}
        </th>
        <th scope="col" colspan="2">
          Thời gian tạo
          {{{sortable 'createdAt' _sort}}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each courses }}
      <tr>
        <td>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
          </div>
        </td>
        <th scope="row">{{this._id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">
            Sửa
          </a>
          <a href="" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Xóa
          </a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class='text-center'>
          Bạn chưa đăng khóa học nào.
          <a href="/courses/create">Đăng khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{!-- Confirm delete course --}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST">
</form>
<script>
  const $ = document;
  var courseId;
  var exampleModal = $.getElementById('exampleModal')
  var btnDeleteCourse = $.getElementById('btn-delete-course')
  var deleteForm = $.forms['delete-course-form']
  var checkboxAll = $.getElementById('checkbox-all')
  var courseItemCheckbox = $.querySelectorAll('input[name="courseIds[]"]')
  var checkAllSubmitBtn = $.querySelector('.check-all-submit-btn')
  var containerForm = $.forms['container-form']
  var selectAction = $.querySelector('select[name="action"]')

  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    courseId = button.getAttribute('data-id')
  })

  btnDeleteCourse.onclick = function () {
    deleteForm.action = "/courses/" + courseId + "?_method=DELETE"
    deleteForm.submit()
  }

  // checkbox all click
  checkboxAll.onchange = function (event) {
    var isCheckedAll = event.target.checked;
    courseItemCheckbox.forEach(c => { c.checked = isCheckedAll; });
    renderCheckAllSubmitBtn()
  }

  courseItemCheckbox.forEach(c => {
    c.onchange = function (event) {
      var isCheckedAll = courseItemCheckbox.length === $.querySelectorAll("input[name^='courseIds[']:checked").length;
      checkboxAll.checked = isCheckedAll
      renderCheckAllSubmitBtn()
    }
  })

  // re-reder check all submit button
  function renderCheckAllSubmitBtn() {
    var checkedCount = $.querySelectorAll("input[name^='courseIds[']:checked").length;
    checkAllSubmitBtn.classList.add("disabled")
    if (checkedCount > 0 && selectAction.value !== '') checkAllSubmitBtn.classList.remove("disabled")
  }

  selectAction.onchange = () => renderCheckAllSubmitBtn()
</script>