<div class="mt-4">
  <div>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <h3>Khóa học đã xóa</h3>

    <div class="mt-4">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Chọn tất cả</label>
      </div>

      <select class="form-select">
        <option selected>Chọn hành động</option>
        <option value="delete">Xóa</option>
      </select>
    </div>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian xóa</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses }}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">
            Khôi phục
          </a>
          <a href="" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Xóa vĩnh viễn
          </a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class='text-center'>
          Thùng rác trống.
          <a href="/me/stored/courses">Danh sách khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- Confirm delete course --}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
  var courseId;
  var deleteForm = document.forms['delete-course-form']
  var restoreForm = document.forms['restore-course-form']
  var exampleModal = document.getElementById('exampleModal')
  var btnDeleteCourse = document.getElementById('btn-delete-course')
  var btnRestores = document.querySelectorAll('.btn-restore')

  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    courseId = button.getAttribute('data-id')
  })

  btnDeleteCourse.onclick = function () {
    deleteForm.action = "/courses/" + courseId + "/force?_method=DELETE"
    deleteForm.submit()
  }

  btnRestores.forEach((btnRestore) => btnRestore.addEventListener('click', function (event) {
    event.preventDefault();
    restoreForm.action = "/courses/" + this.dataset.id + "/restore?_method=PATCH"
    restoreForm.submit()
  }));

</script>